body {
    margin-top: 150px;
    margin-right : 500px;
    margin-left : 450px;
    background-image: url("image/back.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} 
table{
    padding-top: 2px;
	margin-left: 12px;
}
div{
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 111%;
    border-radius: 10px;
    padding-bottom: 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding-bottom:16px;
    background-color: #5bc0de;
   
  }